# Build artifacts
build
coverage
dist
.turbo
target/
compiled/

types_db.ts
database.types.ts

# dotfile
.env*

package-lock.json

# Dependency directories
node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# text
*.md
*.txt
*.csv
