@keyframes scroll-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

.animate-scroll-up-1 {
  animation: scroll-up 25s linear infinite;
}

.animate-scroll-up-2 {
  animation: scroll-up 30s linear infinite;
}

.animate-scroll-up-3 {
  animation: scroll-up 20s linear infinite;
}

.no-scroll::-webkit-scrollbar {
  display: none;
}